.Background{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 50%;
    height: 100%;
    background-image: url("/FUNDO.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}