.modelo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .container{
    margin-top: -25%;
    display: inline-block;
    position: relative;
    transform: scale(0.5);
    .video-w, .canvas-w {
      display: inline-block;
      vertical-align: top;
    }
    .canvas-w {
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}

