.modelo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2px;
  .title-w{
    
  }
  .container{
    display: inline-block;
    position: relative;

    .video-w, .canvas-w {
      display: inline-block;
      vertical-align: top;
    }

    .canvas-w {
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}

