@keyframes scroll {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(60px);
	}
}

.svg {
    transform-style: preserve-3d;
    .wheel {
        animation: scroll ease-in-out 2s infinite;
		transform-style: preserve-3d;
    }

}