
.homeContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    .home{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        background-image: url(/home.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding-bottom: 40px;
        padding-top: 40px;
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.15);
        }

        .title{
            color: var(--color-light);
            font-size: var(--home-title);
            font-weight: 600;
            z-index: 1;
        }
    }

    .about{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        min-height: 60vh;
        gap: 20px;
        margin-top: 80px;
        .logo{
            width: 30%;
        }
        .aboutText{
            font-size: var(--home-desc);
            font-weight: 500;
            width: 45%;
            text-align: center;
        }
    }

    .members {
        width: 80%;
        .membersTitle{
            font-size: var(--home-subtitle);
            font-weight: 600;
        }
        .photos{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            width: 100%;
            padding: 20px;
            .photoContainer{
                display: flex;
                align-items: center;
                flex-direction: column;
                gap: 20px;
                width: 25%;
                .photo{
                    width: 100%;
                    height: 50%;
                    border-radius: 100%;
                }
                .name{
                    font-size: var(--home-desc);
                    font-weight: 500;
                }
            }
        }
    }
}

.space {
    height: 0.1%;
}
  