@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    transform-style: preserve-3d;
}

html, body {
    width: 100%;
    min-height: 100%;
}

:root {
    --color-light: #FFFFFF;
    --color-dark: #000;
    --home-title: 80px;
    --home-subtitle: 35px;
    --home-desc: 18px;
}