@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    transform-style: preserve-3d;
}

html, body {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100%;
}

:root {
    --color-light: #FFFFFF;
    --color-dark: #000;
    --home-title: 80px;
    --home-subtitle: 35px;
    --home-desc: 18px;
}

.landingBar {
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: space-around;
    top: 0;
    left: 0;
    width: 100%;
    height: 10;
    z-index: 2;
}

.landingBar a {
    color: var(--color-dark);
    font-style: unset;
    text-decoration: none;
}

.landingBar.scrolled {
    background-color: red;
    color: purple;
}