.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100dvw;
    height: 100dvh;
  }
  
  .title {
    margin-bottom: 20px;
  }
  
  .dropZone {
    border: 2px dashed #ddd;
    padding: 20px;
    cursor: pointer;
  }
  
  .videoList {
    margin-top: 20px;
  }
  
  .buttonContainer {
    margin-top: 20px;
    button {
        border: #000 1px solid;
        border-radius: 15px;
        height: 5dvh;
        width: 10dvw;
    }
  }