.webcam-container {
    position: relative;
    width: 70%;
    aspect-ratio: 16/9;
    overflow: hidden;
}
  
.webcam {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.botao{
    z-index: 4000;
}
  